.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

/* arrow bottom*/
.arrowBottom:after {
  content: "";
  display: block;

  position: absolute;

  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid black;

  bottom: -4px;
}

/* arrow top*/
.arrowTop:after {
  content: "";
  display: block;

  position: absolute;

  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid black;

  top: -4px;
}

/* arrow left*/
.arrowLeft:after {
  content: "";
  display: block;

  position: absolute;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid black;

  left: -5px;
  top: 5px;
}

/* arrow right*/
.arrowRight:after {
  content: "";
  display: block;

  position: absolute;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid black;

  right: -4px;
  top: 6px;
}
